<html>

<head>
    <title>home page</title>
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">
        <h1>
            About Page
        </h1>
    </div>
    
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>